{% extends 'base.html' %}

{% block styles %}
  .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
{% endblock %}

{% block title %}О НАС{% endblock %}

{% block content %}
  <div class="px-2 py-2 my-5 text-left">
    <div class="col-lg-12 mx-auto">
      <p><b>1С: Аргыс</b> являемся официальным партнером фирмы «1С» г. Москвы и работаем на рынке делового программного обеспечения с 2010 года.</p>
      <p>В штате организации квалифицированные и опытные специалисты, проходящие курсы повышения квалификации и обучающие семинары по программам фирмы «1С». За эти года мы наработали методику обучению бухгалтеров с нуля, т.к. так как мы тесно работаем с бухгалтерами. Сопровождаем наших клиентов начиная с обучения до сдачи годовых балансов, знаем все тонкости ведения бухгалтерского учета.</p>
      <p>Мы предлагаем, качественные и проверенные курсы по бухгалтерскому учету. Постоянно проводим тематические семинары по всем изменяем законодательства и федерального стандарта. Наши курсы необходимы начинающим пользователям 1С, а также тем, кто уже пользуется программами 1С, но хочет повысить свою квалификацию.</p>
      <b>Мы поможем</b>
      <ul>
        <li>Создать общее представление об 1C и найти для себя интересную нишу в рамках компетенции 1С;</li>
        <li>Определиться с дальнейшими действиями на пути к востребованной профессии.</li>
      </ul>
      <b>Почему мы?</b>
      <ul>
        <li>Индивидуальный и комплексный подход в решении задач клиента</li>
        <li>Обеспечение всесторонней информационной и технической поддержкой (тематические семинары, тренинги, марафоны, курсы по обучению, выездные курсы по «1С»).</li>
      </ul>
    </div>
  </div>

  <div class="b-example-divider"></div>
  {% include 'info/contacts_template.html' %}
{% endblock %}