<H3>Наши контакты:</H3>
<ul>
  <li>
    Пишите нам по адресу: <a href="mailto:{{ org.email }}">{{ org.email }}</a>
  </li>
  <li>
    Звоните по номеру: <a href="tel:{{ org.telephone }}">{{ org.telephone }}</a>
  </li>
  <li>
    Подписывайтесь на нас в Инстаграм: <a id="insta" href="{{ org.insta }}">argys</a>
  </li>
  <li>
    Мы расположены по адресу: {{ org.address }}
  </li>
</ul>
<div class="row align-items center">
  <div class="col-sm-12 align-self-center w-100">
    <p align="center"><iframe width="450px" height="450px" align="middle" style="display:block;" src="https://static-maps.yandex.ru/1.x/?l=map&ll=129.725045,62.027778&size=400,400&z=16&pt=129.725045,62.027778,pm2bll"></iframe></p>
  </div>
</div>