{% extends 'base.html' %}

{% block content %}
  <div class="px-2 py-2 my-5 text-left">
    <div class="col-lg-10 mx-auto">
      <p><b>1С: Аргыс</b> являемся официальным партнером фирмы «1С» г. Москвы и работаем на рынке делового программного обеспечения с 2010 года.</p>
      <p>В штате организации квалифицированные и опытные специалисты, проходящие курсы повышения квалификации и обучающие семинары по программам фирмы «1С». За эти года мы наработали методику обучению бухгалтеров с нуля, т.к. так как мы тесно работаем с бухгалтерами. Сопровождаем наших клиентов начиная с обучения до сдачи годовых балансов, знаем все тонкости ведения бухгалтерского учета.</p>
      <p>Мы предлагаем, качественные и проверенные курсы по бухгалтерскому учету. Постоянно проводим тематические семинары по всем изменяем законодательства и федерального стандарта. Наши курсы необходимы начинающим пользователям 1С, а также тем, кто уже пользуется программами 1С, но хочет повысить свою квалификацию.</p>
      <b>Мы поможем</b>
      <ul>
        <li>Создать общее представление об 1C и найти для себя интересную нишу в рамках компетенции 1С;</li>
        <li>Определиться с дальнейшими действиями на пути к востребованной профессии.</li>
      </ul>
      <b>Почему мы?</b>
      <ul>
        <li>Индивидуальный и комплексный подход в решении задач клиента</li>
        <li>Обеспечение всесторонней информационной и технической поддержкой (тематические семинары, тренинги, марафоны, курсы по обучению, выездные курсы по «1С»).</li>
      </ul>
      <p><b>Мы всегда на страже порядка в 1С!</b></p>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-2 my-5 text-center">
    <div class="col-sm-12 mx-auto">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="background-color:rgb(255,230,55);">
              <p class="h2">Релизы</p>
            </div>
            <div class="card-body">
              <div class="list-group">
              {% for item in releases %}
              <a href="#" class="list-group-item list-group-item-action align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ item.program }}</h5>
                  <small>v. {{ item.version }}</small>
                </div>
                <p class="mb-1" style="text-align:right">{{ item.release_date|date:"d.m.Y" }}</p>
              </a>
              {% endfor %}
              </div>
              <a href="{% url 'info:releases' %}">Все релизы</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="background-color:rgb(255,230,55);">
              <p class="h2">Новости</p>
            </div>
            <div class="card-body">
              <div class="list-group">
              {% for item in news %}
              <a href="{{ item.link }}" class="list-group-item list-group-item-action align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1" style="text-align:left">{{ item.title|truncatewords:15 }}</h5>
                  <small>{{ item.pubDate|date:"d.m.Y" }}</small>
                </div>
              </a>
              {% endfor %}
              </div>
              <a href="{% url 'info:news' %}">Все новости</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>
{% endblock %}