{% extends 'base.html' %}

{% block title %}Продукты 1С{% endblock %}

{% block styles %}
  .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  ul.checked-list {
    list-style-type: none;
  }
  ul.checked-list li::before{
    display: inline-block;
    content: "";
    vertical-align: -.15em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 16 16'><path d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/></svg>");
    background-repeat: no-repeat;
    min-height: 16px;
    min-width: 16px;
    margin-right: 0.3em;
  }
{% endblock %}

{% block content %}
  {% load static %}
<!-- Modal -->
<div class="modal fade" id="DescriptionModal" tabindex="-1" aria-labelledby="ProductDescription" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ProductDescription"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------->
<template id="t1">
  <div>
    <p>"1С:Бухгалтерия 8" выпускается в трех версиях, предназначенных для ведения бухгалтерского и налогового учета: базовая, ПРОФ и КОРП. Базовая версия представляет собой однопользовательский аналог версии ПРОФ "1С:Бухгалтерии 8". Предусмотрены две специализированные поставки базовой версии, предварительно настроенные на особые режимы учета: "1С:Упрощенка 8" и "1С:Предприниматель 8".</p>
    <p>Бухгалтерский и налоговый учет ведется в соответствии с действующим законодательством Российской Федерации.</p>
    <ul class="checked-list">
      <li>Учет "от документа" и типовые операции</li>
      <li>Средства для быстрого освоения</li>
      <li>Ведение учета деятельности нескольких организаций</li>
      <li>Поддержка разных систем налогообложения</li>
      <li>Учет материально-производственных запасов</li>
      <li>Складской учет</li>
      <li>Учет торговых операций</li>
      <li>Учет комиссионной торговли</li>
      <li>Учет агентских договоров</li>
      <li>Учет банковских и кассовых операций</li>
      <li>Учет расчетов с контрагентами</li>
      <li>Учет основных средств и нематериальных активов</li>
      <li>Учет основного и вспомогательного производства</li>
      <li>Учет полуфабрикатов</li>
      <li>Учет косвенных расходов</li>
      <li>Учет НДС</li>
      <li>Учет заработной платы, кадровый и персонифицированный учет</li>
      <li>Налоговый учет по налогу на прибыль</li>
      <li>Упрощенная система налогообложения</li>
      <li>Учет деятельности, облагаемой единым налогом на вмененный доход</li>
      <li>Учет доходов и расходов индивидуальных предпринимателей – плательщиков НДФЛ</li>
      <li>Завершающие операции месяца</li>
      <li>Стандартные бухгалтерские отчеты</li>
      <li>Регламентированная отчетность</li>
    </ul>
  </div>
</template>
<template id="t2">
  <div>
    <p>"1С:Бухгалтерия государственного учреждения 8" предусматривает ведение учета всеми типами государственных (муниципальных) учреждений – казенными, бюджетными, автономными – для обеспечения сопоставимости данных при переходе учреждения из одного типа в другой.</p>
    <p>"1С:Бухгалтерия государственного учреждения 8" может также использоваться распорядителями, главными распорядителями средств бюджета, органами государственной власти, органами местного самоуправления, органами управления государственными внебюджетными фондами, финансовыми органами, органами казначейства, государственными академиями наук в части исполнения сметы на свое содержание.</p>
    <p>"1С:Бухгалтерия государственного учреждения 8" автоматизирует следующие направления деятельности:</p>
    <ul class="checked-list">
      <li>Ведение централизованного учета целой группы учреждений в одной базе. При этом в программе используются общие списки контрагентов, государственные классификаторы, номенклатуры статей затрат и материальных запасов. Баланс и главная книга формируются как консолидировано для целой группы организаций, так и раздельно.</li>
      <li>Ведение обособленного учета в рамках организации с использованием источников финансового обеспечения. Это позволяет получать обособленную отчетность с различной структурой счетов для каждого отдельного источника финансового обеспечения.</li>
      <li>Ведение бухгалтерского учета в полном соответствии с действующим законодательством. Для максимального упрощения работы в программу загружен Единый план счетов бухучета для государственных организаций и единая бюджетная классификация Российской Федерации.</li>
    </ul>
  </div>
</template>
<template id="t3">
  <div>
    <p>1С:Зарплата и Управление Персоналом объединяет в себе функционал для основополагающих рабочих процессов на любом предприятии – это зарплата и кадры. Он автоматически выполняет все повседневные процессы, происходящие в отделе работы с персоналом и начисления заработной платы. Аналитический персонал позволяет в любой момент времени оценить ситуацию с кадрами и вовремя принять важные решения по найму, увольнению, повышению квалификации. Программа решает ряд важных задач с учетом новейшего законодательства, облегчая работу персонала, избавляя руководство от найма большого количества кадровиков и исключая риски, связанные с ответственностью предприятия перед контролирующими органами за несвоевременность и ошибочность ведения учета и отчетности.</p>
    <p>1С:Зарплата и Управление Персоналом 8 эффективно помогает:</p>
    <ul class="checked-list">
      <li>планировать потребности предприятия в работниках всех уровней;</li>
      <li>своевременно обеспечивать организацию необходимыми кадрами;</li>
      <li>автоматически рассчитывать заработную плату с учетом всех особенностей каждой отдельной позиции;</li>
      <li>курировать уровни компетенций и планировать повышение квалификации;</li>
      <li>вести эффективный учет занятости каждого работника;</li>
      <li>правильно и своевременно исчислять взносы и налоговые выплаты;</li>
      <li>учитывать состав рабочего коллектива и анализировать ситуации в любом разрезе;</li>
      <li>отражать налоги и зарплатные отчисления в бухгалтерских расходах организации;</li>
      <li>управлять финансовыми отношениями с сотрудниками и выплатами зарплаты;</li>
      <li>оптимизировать и автоматизировать кадровый документооборот.</li>
    </ul>
  </div>
</template>
<template id="t4">
  <div>
    <p>"1С:Зарплата и кадры государственного учреждения 8" - программа для расчета заработной платы и кадрового учета в государственных и муниципальных учреждениях различной ведомственной принадлежности и любого типа (казенных, бюджетных, автономных), финансируемых за счет средств бюджетов всех уровней. «1С:Зарплата и кадры государственного учреждения 8» предназначен для автоматизации кадрового учета и расчета заработной платы в государственных учреждениях в соответствии с законодательством Российской Федерации.</p>
    <p>Автоматизирован весь комплекс расчетов – от начисления зарплаты, оплаты больничных листов, отпусков и командировок до подготовки документов на выплату зарплаты и формирования регламентированной и аналитической отчетности и поддерживает особенности учета и расчета в различных государственных учреждениях.</p>
    <p>"1С:Зарплата и кадры государственного учреждения 8" поддерживает НСОТ в соответствии с Постановлением Правительства РФ № 583 "О введении новых систем оплаты труда&nbsp;….":</p>
    <ul class="checked-list">
      <li>должностной оклад (оклад по ПКГ/ПКУ);</li>
      <li>должностной оклад (оклад по ПКГ/ПКУ) + квалификационная надбавка за занимаемую должность (по штатному расписанию);</li>
      <li>должностной оклад (оклад по ПКГ/ПКУ) + квалификационная надбавка за профессионализм (индивидуальная для сотрудника);</li>
      <li>оклад по профессиональной квалификационной группе (должностной оклад).</li>
    </ul>
  </div>
</template>
<template id="t5">
  <div>
    <p>"1С:Управление нашей фирмой" (1С:УНФ) – это готовое комплексное решение для управления и учета в малом бизнесе. Все, что нужно, в одной программе: продажи, закупки, склад, финансы, клиенты, поставщики, анализ состояния компании, отчетность и CRM. Решение не перегружено излишней функциональностью, его можно легко настроить под особенности организации управления и учета вашего бизнеса. В единой информационной системе ведутся: база клиентов, банковские и кассовые операции, расчеты с контрагентами, персоналом, бюджетом, учет заказов, материалов, товаров, продукции и затрат, торговых операций, включая розничные продажи и подключение торгового оборудования, учет заказов-нарядов, выполненных работ и оказанных услуг, учет имущества, учет доходов, расходов, прибыли и убытков, капитала и т.д.</p>
    <p>Индивидуальные предприниматели на УСН и ЕНВД могут готовить и сдавать в программе отчетность в ФНС, ФСС, ПФР. Программа позволяет планировать продажи, загрузку персонала и ключевых ресурсов, вести календарные графики выполнения работ, отгрузки и поставок товаров и материалов, контролировать исполнение графиков и планов.</p>
    <p>Программу можно использовать для нескольких компаний и частных предпринимателей – независимых или работающих в рамках одного бизнеса. Учет можно вести в любой валюте.</p>
  </div>
</template>
<template id="t6">
  <div>
    <p>"1С:Управление торговлей 8" — готовое отраслевое решение 1С, которое позволяет автоматизировать задачи по формированию первичной документации складского и торгового учета, а также основные задачи управленческого и оперативного учета торгового предприятия.</p>
    <p>Решение позволяет формировать различные виды аналитических отчетов, проводить комплексный анализ эффективности торговой деятельности и планировать торговые операции предприятия, а также управлять продажами, заказами, поставками, товарооборотом и складскими запасами.</p>
    <p>Программный продукт «1С:Управление торговлей 8» поддерживает возможность подключения всех видов торгового оборудования.</p>
    <p>"1С:Управление торговлей 8" автоматизирует следующие направления хозяйственной деятельности:</p>
    <ul>
      <li>управление отношениями с клиентами</li>
      <li>управление процессами продаж</li>
      <li>управление запасами</li>
      <li>управление закупками</li>
      <li>управление складом</li>
      <li>управление финансами</li>
      <li>контроль и анализ целевых показателей деятельности предприятия</li>
    </ul>
  </div>
</template>
<!---------------------------------------->
  <h1 style="text-align:center;">Продукты 1С</h1>
  <div class="container">
    <div class="row">
      <div class="col-auto ms-auto">
        <a class="btn btn-outline-primary" href="{% url 'info:pricelist' %}">Прайс-лист</a>
      </div>
    </div>
  </div>
  <div class="px-2 py-2 my-2 text-center" id="main">
    <div class="col-sm-12 mx-auto">
      <div class="container-fluid">
        <div class="row pb-3">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <a href="#p1" data-number="0"><img data-number="0" src="{% static 'img/products/buh.jpg' %}" class="card-img-top" alt="1С: Бухгалтерия"></a>
              <div class="card-body">
                <a href="#p1" data-number="0">1С: Бухгалтерия предприятия</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <a href="#p2" data-number="1"><img data-number="1" src="{% static 'img/products/docs.jpg' %}" class="card-img-top" alt="1С:Бухгалтерия государственного учреждения"></a>
              <div class="card-body">
                <a href="#p2" data-number="1">1С:Бухгалтерия государственного учреждения</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <a href="#p3" data-number="2"><img data-number="2" src="{% static 'img/products/personnel.jpg' %}" class="card-img-top" alt="Зарплата и управление персоналом"></a>
              <div class="card-body">
                <a href="#p3" data-number="2">Зарплата и управление персоналом</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <a href="#p4" data-number="3"><img data-number="3" src="{% static 'img/products/budget.jpg' %}" class="card-img-top" alt="1С: Зарплата и кадры государственного учреждения"></a>
              <div class="card-body">
                <a href="#p4" data-number="3">1С: Зарплата и кадры государственного учреждения</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <a href="#p5" data-number="4"><img data-number="4" src="{% static 'img/products/complex.jpg' %}" class="card-img-top" alt="1С: Управление торговлей"></a>
              <div class="card-body">
                <a href="#p5" data-number="4">1С: Управление торговлей</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <a href="#p6" data-number="5"><img data-number="5" src="{% static 'img/products/small.jpg' %}" class="card-img-top" alt="1С: Управление небольшой фирмой"></a>
              <div class="card-body">
                <a href="#p6" data-number="5">1С: Управление небольшой фирмой</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
var headers= ['1С: Бухгалтерия Предприятия','1С:Бухгалтерия государственного учреждения', '1С: Зарплата и управление персоналом', '1С: Зарплата и кадры государственного учреждения', '1С: Управление торговлей', '1С: Управление небольшой фирмой'];
var templates = [document.getElementById('t1'), document.getElementById('t2'), document.getElementById('t3'), document.getElementById('t4'), document.getElementById('t6'), document.getElementById('t5')];
var source = document.getElementById('DescriptionModal');
var body = source.querySelector('.modal-body');

document.querySelectorAll('a[href^="#p"]').forEach(element=>{
  element.addEventListener('click', event => {
    event.preventDefault();
    var sender = event.target;
    console.log('clicked');
    var oldChild = body.querySelector('div');
    var copy = document.importNode(templates[sender.dataset.number].content, true);
    body.replaceChild(copy, oldChild);
    document.getElementById('ProductDescription').textContent = headers[sender.dataset.number];
    var myModal = new bootstrap.Modal(source, {
      keyboard: false
    });
    myModal.show();
  });
})
{% endblock %}