{% extends 'base.html' %}

{% block styles %}
  ul.checked-list {
    list-style-type: none;
  }
  ul.checked-list li::before{
    display: inline-block;
    content: "";
    vertical-align: -.15em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 16 16'><path d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/></svg>");
    background-repeat: no-repeat;
    min-height: 16px;
    min-width: 16px;
    margin-right: 0.3em;
  }
{% endblock %}

{% block content %}
{% load static %}
<!-- Modal -->
<div class="modal fade" id="DescriptionModal" tabindex="-1" aria-labelledby="ProductDescription" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ProductDescription"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------->
  <template id="s1">
    <div>
      <p>Наша компания предоставляет официальное сопровождение программ "1С" на регулярной основе в соответствии со стандартами поддержки пользователей, разработанными фирмой "1С".</p>
      <p>За счет оптимального сочетания сервисов и услуг нашей компании и фирмы "1С" мы позволяем нашим Клиентам существенно экономить время и деньги на поддержке программ "1С" и одновременно пользоваться услугами сертифицированных специалистов, официальными источниками информации по ведению учета и работе в программах "1С".<p></p>
      <p>Почасовое сопровождение дает возможности гибкого подхода к решению задач по сопровождению 1С: вызов специалиста и оплата его работы производится по необходимости заказчика. Данный тип сопровождения подходит для небольших компаний, работающих на типовых решениях 1С:Предприятие 8.</p>
      <b>Услуги, выполняемые в рамках почасового сопровождения:</b>
      <ul class="checked-list">
        <li>Исправление ошибок</li>
        <li>Консультационные услуги</li>
        <li>Небольшие доработки функционала</li>
        <li>Обучение работы с программными продуктами 1С</li>
      </ul>
      <b>Как мы обрабатываем поступившую заявку?</b>
      <p>Мы принимаем обращения клиентов через телефон, 1С: Коннект, через электронную почту.</p>
      <p>Заявка должна содержать следующую информацию:</p>
      <ul class="checked-list">
        <li>название и конфигурацию продукта 1С, по которому возник вопрос</li>
        <li>детальное описание проблемы и действий, предпринятых для ее устранения</li>
        <li>скриншоты и графические пояснения, которые могут помочь в решении проблемы.</li>
      </ul>
      <b>Какие каналы связи с клиентом мы используем?</b>
      <p>После регистрации заявки мы работаем с клиентом одним или несколькими способами:</p>
      <ul class="checked-list">
        <li>Консультации по телефону, электронной почте, через 1С-Коннект</li>
        <li>Через удаленный доступ к рабочим станциям или серверам Заказчика</li>
        <li>На площадке Исполнителя</li>
      </ul>
    </div>
  </template>
  <template id="s2">
    <div>
      <p>Регулярное обновление программ "1С" позволит Вам проводить корректные расчёты и пользоваться актуальными формами и отчётами, а также обезопасит Вас от проблем, связанных со сдачей отчётности в налоговые органы.</p>
      <b>Почему важно обновляться?</b>
      <ul class="checked-list">
        <li>наше законодательство постоянно изменяется. При внесении изменений в законодательные документы эти изменения нужно отражать и в программе, чтобы движения учитывались в строгом соответствии с законом,</li>
        <li>периодически изменяются формы и порядок заполнения регламентированной отчетности,</li>
        <li>изменяется внешний вид печатных форм и бланков документов,</li>
        <li>вносятся изменения в электронные формы документов,</li>
        <li>дорабатывается методика и алгоритмы расчетов,</li>
        <li>улучшается функциональность и удобство пользования программным продуктом,</li>
        <li>исправляются обнаруженные ошибки и недочеты.</li>
      </ul>
      <b>Есть несколько видов обновления "1С":</b>
      <ul class="checked-list">
        <li>обновление типовой конфигурации,</li>
        <li>обновление нетиповой (доработанной) конфигурации,</li>
        <li>обновление платформы "1С",</li>
        <li>обновление форм отчетности, классификаторов, справочников.</li>
      </ul>
      <div class="alert alert-danger" role="alert">Обращаем Ваше внимание, что обновление 1С возможно только при наличии у клиента подписки на информационно-технологическое сопровождение или 1С:ИТС.</div>
      <b>Обращаем ваше внимание, что по правилам фирмы 1С, без действующего договора ИТС невозможно:</b>
      <ul class="checked-list">
        <li>обновлять программы 1С версий ПРОФ и КОРП</li>
        <li>вызывать программиста для настройки и доработки программы</li>
        <li>пользоваться линией консультаций по работе с 1С.</li>
      </ul>
    </div>
  </template>
  <template id="s3">
    <div>
      <p>Услуга "Абонентское сопровождение 1С" разработана для обеспечения безотказной работы программ "1С:Предприятие 8". Подписание договора абонентского сопровождения позволяет не только получить самый высокий уровень обслуживания, но и точно планировать затраты на поддержку информационной системы на базе платформы 1С:Предприятие.</p>
      <p>Стоимость услуг по договору рассчитывается индивидуально в зависимости от количества пользователей, степени изменения баз данных и сложности задач по совершенствованию и развитию системы.</p>
      <p>Услуги включают в себя:</p>
      <ul class="checked-list">
        <li>Выезд специалиста и проведение технологических работ</li>
        <li>Обновление программных продуктов</li>
        <li>Консультирование по работе с программами</li>
        <li>Устранение и профилактика ошибок в работе программы</li>
        <li>Настройка интерфейсов и прав пользователей</li>
        <li>Помощь в подготовке отчетности</li>
        <li>Редактирование документов и справочников и т.д.</li>
      </ul>
      <div class="alert alert-info" role="alert">В отличии от почасового обслуживания расчет ведется поминутно.</div>
    </div>
  </template>
  <template id="s4">
    <div>
      <p>Новые знания всегда открывают путь к новым возможностям! Для эффективной работы в программах "1С" необходимо знать возможности программного продукта и уметь их использовать. Лучший способ изучить программу – пройти обучение.                                                                                                                                                      Многолетний опыт работы в консалтинге позволяет нашей компании не только продавать программы, но и проводить курсы 1С о том, как следует организовать учет, преподавать технологию ведения учета.</p>
      <p>Программа 1С:Обучение значительно повышает эффективность работы сотрудников в программах 1С:Предприятие.</p>
      <p>Специалисты нашей компании помогут Вам быстро и эффективно подобрать курсы 1С и пройти обучение 1С.</p>
      <p>Курсы 1С могут проводиться индивидуально или в виде групповых обучающих курсов, непосредственно на рабочих местах без отрыва от основной работы, а также в офисе компании "1С-Аргыс".</p>
      <p>Обучение 1С в группе проводится высококлассными сертифицированными специалистами с многолетним опытом работы по программам и методикам собственной разработки.</p>
      <div class="alert alert-success" role="alert">Более подробную информацию по стоимости обучения Вы можете получить, обратившись по телефону <a href="tel:+7(4112)401131">+7(4112)40-11-31</a> или по электронной почте: <a href="mailto:1c-argys@mail.ru">1c-argys@mail.ru</a></div>
    </div>
  </template>
  <template id="s5">
    <div>
      <p>Хотите эффективно использовать все возможности программ 1С, включая удобные сервисы? Для этого Вам нужно всего лишь купить 1С ИТС!</p>
      <p>Информационно-технологическое сопровождение (1С:ИТС) – удобный и быстрый способ решить любые задачи бухгалтерского, кадрового и управленческого учета. Это комплексный подход к обслуживанию программ 1С:Предприятие, который включает технологические, методические и консультационные материалы, сервисные и консалтинговые услуги.</p>
      <p>ИТС ПРОФ - основной вариант сопровождения, который включает в себя максимальное количество сервисов 1С ИТС и услуг.</p>
      <b>Что входит в состав 1С ИТС ПРОФ?</b>
      <ul class="checked-list">
        <li>Обновление программ – возможность получения актуальных релизов 1С.</li>
        <li>Профессиональная информационная система 1С ИТС- доступ к ИТС 1С официальный сайт.</li>
        <li>Линия консультаций фирмы "1С" по телефону и электронной почте.</li>
        <li>Консультации аудиторов и экспертов по кадровому учету по электронной почте.</li>
        <li>Отправка электронной отчетности прямо из программ "1С"- сервис "1С-Отчетность".</li>
        <li>Юридически значимый электронный документооборот счетами-фактурами и другими документами через "1С:Предприятие".</li>
        <li>Сервисы для организации работы с базами "1С" через Интернет ("1С:Линк", "1С:Фреш").</li>
        <li>1С: Контрагент – автоматическое заполнение реквизитов контрагентов по базе ФНС.</li>
        <li>1С-Коннект – онлайн консультации по 1С.</li>
        <li>1С: Облачный архив – безопасное хранение и размещение копии ваших данных.</li>
        <li>Выпуск журнала "БУХ.1С" (электронный вариант)</li>
        <li>Электронные книги, аудио- и видеозаписи и др.</li>
      </ul>
      <div class="alert alert-info" role="alert">ИТС ТЕХНО - минимальный вариант сопровождения, включающий объем сервисных услуг и возможность легального получения обновлений.</div>
      <div class="row align-items-center">
        <div class="col align-self-center">
          <a href="https://its.1c.ru/db/aboutitsnew" class="btn btn-primary">Подробнее об 1С: ИТС</a>
        </div>
        <div class="col align-self-center">
          <a href="https://v8.1c.ru/its/tarify/" class="btn btn-primary">Тарифы 1С:ИТС</a>
        </div>
        <div class="col align-self-center">
          <a href="https://v8.1c.ru/its/docs/prof-vs-techno/" class="btn btn-primary">Сравнение ИТС ПРОФ и ИТС Техно</a>
        </div>
      </div>
    </div>
  </template>
  <template id="s6">
    <div>
      <b>Хотите управлять бизнесом даже в поездке за границей?</b>
      <p>Для каждого руководителя важно быть в курсе всех событий и иметь доступ к базе в любое время и находясь в любом месте - на отдыхе, в командировке, дома.</p>
      <p>Или начать работу с 1С в 1 клик? И иметь доступ к базе 24 часа в сутки?</p>
      <b>1С Фреш поможет Вам в этом!</b>
      <p>Все что нужно - это устройство с доступом в интернет.</p>
      <p>"1С Фреш" – облачный сервис, который позволяет мгновенно разворачивать работу с программой "1С:Предприятие" на любых компьютерах.</p>
      <b>Возможности сервиса 1С Фреш</b>
      <ul class="checked-list">
        <li>Программа 1С всегда доступна в режиме онлайн с любого компьютера, планшета, мобильного телефона через Интернет.</li>
        <li>Автоматическое обновление приложений и форм отчетности.</li>
        <li>Сдача отчетности через Интернет в ФНС, ПФР, ФСС, Росстат и Росалкогольрегулирование.</li>
        <li>Подключение 1С:ЭДО - обмен электронными юридически значимыми документами.</li>
        <li>Возможность хранения ключа электронной подписи в "1С Облако".</li>
        <li>Полезные сервисы 1С:ИТС.</li>
        <li>Возможность сохранения данных на компьютере пользователя.</li>
      </ul>
      <p>Совместимость с локальными версиями — данные из приложений сервиса могут быть выгружены и загружены в локальные версии тех же приложений. Преимущества 1С Фреш:</p>
      <ul class="checked-list">
        <li>Вы экономите на покупке программ "1С", сервера и техническом обслуживании.</li>
        <li>Работайте в сервисе с компьютера, планшета или смартфона.</li>
        <li>Управляйте бизнесом из любой точки мира.</li>
        <li>Начинайте вести учет через 15 минут после регистрации.</li>
        <li>Ваши информационные базы хранятся в дата-центре компании "1С".</li>
        <li>Информация передается через защищенные каналы связи.</li>
        <li>Возможность подключить тестовый доступ на месяц.</li>
      </ul>
      <a href="#" class="btn btn-primary">Прайс</a>
      <a href="https://1cfresh.com/about" class="btn btn-primary">Подробнее о ФРЕШ</a>
    </div>
  </template>
  <template id="st1">
    <div>
      <p>1С:Контрагент - быстрая проверка информации о контрагентах, автоматическое заполнение реквизитов в различных документах, помимо этого, позволяет актуальные адресные сведения не загружать в программу, а получать их через Интернет с помощью веб-сервиса фирмы "1С" и ведомственного классификатора ФНС – ФИАС.</p>
      <b>Возможности сервиса:</b>
      <ul class="checked-list">
        <li>Автоматически заполнить реквизиты по ИНН или наименованию.</li>
        <li>Автоматически получить актуальные сведения из ФИАС.</li>
        <li>Автоматически заполнить и проверить реквизиты ФНС, филиалов ФСС и ПФР.</li>
        <li>Получить "Досье контрагента" – отчет со сведениями, полезными для оценки благонадежности, в том числе информацию о проверках государственными органами.</li>
      </ul>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Сервис позволяет избежать ошибок связанных с ручным введением реквизитов.</li>
        <li>Повышает эффективность работы сотрудников, высвобождая время, которые они тратят на занесение реквизитов.</li>
        <li>Уменьшает риски урону репутации компании связанные с ошибками в области занесения реквизитов контрагентов.</li>
        <li>Уменьшает риски связанные с отправкой платежей в адрес контролирующих органов по неправильным реквизитам.</li>
        <li>Уменьшает риски работы с неблагонадежными контрагентами.</li>
      </ul>
      <div class="alert alert-info" role="alert">
        <b>Условия получения:</b>
        <ul class="checked-list">
          <li>являться зарегистрированным пользователем программ 1С;</li>
          <li>зарегистрировать программу на Портале 1С:ИТС;</li>
          <li>иметь действующий договор ИТС уровня ПРОФ, купить любой вариант доступа к сервису.</li>
        </ul>
      </div>
    </div>
  </template>
  <template id="st2">
    <div>
      <p>"1С-Отчетность" – это сервис, предназначенный для отправки электронной отчетности и других видов электронного документооборота между предприятием и контролирующими органами по телекоммуникационным каналам связи непосредственно из программ "1С". Функционал "1С-Отчетности" обеспечивает удобный способ установки криптосредств и подключения к сервису электронной отчетности прямо на рабочем месте, из привычного интерфейса программ "1С".</p>
      <b>Возможности сервиса:</b>
      <ul class="checked-list">
        <li>Сдача отчетности во все контролирующие органы.</li>
        <li>Неформализованная переписка с ФНС и ПФР.</li>
        <li>Отправка запросов и получение ответов от ФНС и ПФР через сервис ИОН (Информационное обслуживание налогоплательщиков).</li>
        <li>Получение выписок из ЕГРЮЛ/ЕГРИП.</li>
        <li>Проверка отчетов на ошибки через интернет перед отправкой.</li>
        <li>Электронная подпись с возможностью плановой замены до 2-х раз в год</li>
      </ul>
      <b>Преимущества 1С-Отчетность по сравнению с аналогичными продуктами:</b>
      <ul class="checked-list">
        <li>Привычный и удобный интерфейс программы "1С".</li>
        <li>Не требуется установка дополнительного программного обеспечения, все действия производятся в хорошо знакомой каждому бухгалтеру программе "1С".</li>
        <li>Удобная процедура обновления. Обновление программы и сертификатов происходит автоматически при запуске программы.</li>
        <li>Круглосуточная квалифицированная техническая поддержка пользователей по единому федеральному бесплатному номеру <a href="tel:88007008668">8-800-700-86-68</a></li>
        <li>Для пользователей ИС 1С:ИТС ПРОФ сдача отчетности одного юридического лица или индивидуального предпринимателя бесплатно!</li>
      </ul>
    </div>
  </template>
  <template id="st3">
    <div>
      <p>"1С-ЭДО" - решение фирмы 1С, которое обеспечивает обмен юридически значимыми документами, электронными счетами-фактурами и другими электронными документами прямо из 1С:Предприятия, без использования других программ через одного из операторов электронного документооборота (ЭДО), поддерживающих технологию "1С-ЭДО".</p>
      <b>Возможности сервиса:</b>
      <p>Документы, которыми можно обмениваться в электронном виде, непосредственно из программ 1С и предоставлять в электронном виде в контролирующие органы:</p>
      <ul class="checked-list">
        <li>Счет-фактура и корректировочный счет-фактура</li>
        <li>Акт приемки-сдачи работ</li>
        <li>Товарная накладная (ТОРГ-12)</li>
      </ul>
      <p>а также такие виды отсканированных документов, как:</p>
      <ul class="checked-list">
        <li>ГТД (Государственная таможенная декларация)</li>
        <li>Договор и дополнительные соглашения к нему</li>
        <li>УПД и УКД (Универсальный передаточный документ и Универсальный корректировочный документ)</li>
      </ul>
      <p><u>Примечание:</u> отсканированные документы загружаются в специальный справочник в виде картинок и также могут быть высланы в ответ на требование ФНС.</p>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Снижение ошибок, связанных с человеческим фактором, за счет автоматического формирования документов.</li>
        <li>Отказ от "ручного" ввода в 1С данных из полученных документов.</li>
        <li>Возможность создать несколько учетных записей участника ЭДО у разных операторов ЭДО, а затем настраивать обмен с разными контрагентами под разными учетными записями.</li>
        <li>Возможность обмена электронными документами встроена непосредственно в типовые решения 1С.</li>
        <li>Можно использовать сертификат ЭП, выданный любым удостоверяющим центром, аккредитованным Минкомсвязи России. В частности, можно использовать сертификат, полученный с помощью продукта , "1С:Подпись" или при подключении к сервису "1С-Отчетность". Для пользователей ИТС ПРОФ "1С:Подпись" и "1С-Отчетность" предоставляются на льготной основе.</li>
        <li>Ускорение обмена документами со своим контрагентами (сокращение времени на 75%).</li>
      </ul>
    </div>
  </template>
  <template id="st4">
    <div>
      <p>1С:Лекторий – уникальные видеолекции от фирмы "1С", цель которых - оперативно и в удобной форме знакомить слушателей с законодательными новшествами и их отражением в "1С:Предприятии 8", отвечать на вопросы и консультировать своих пользователей.</p>
      <b>Возможности сервиса:</b>
      <ul class="checked-list">
        <li>Неразрывная связь теории с практикой. Каждый семинар состоит из двух частей: первая посвящена нормативному регулированию рассматриваемого вопроса, вторая – тому, как это реализовано в программах "1С".</li>
        <li>График проведения семинаров доступен заранее – клиенту удобно планировать свое время. Программу семинаров см. на странице 1С:Лектория на сайте информационной системы 1С:ИТС.</li>
        <li>Возможность получить ответ на свой вопрос во время семинара. При регистрации (оформлении приглашения) на любой семинар клиент может задать вопрос лектору по теме предстоящего семинара. Консультации по наиболее актуальным вопросам от пользователей лекторы включают в программу своих семинаров. Эта опция доступна как для посетителей очных семинаров в Москве, так и для клиентов из других регионов (последние получат ответы на свои вопросы при просмотре видеозаписи).</li>
        <li>Неограниченный доступ к архиву семинаров 1С:Лектория за три года. Пользователь 1С:ИТС уровня ПРОФ (независимо от региона) получает доступ к архиву семинаров 1С:Лектория за три года, которым может пользоваться неограниченно. Архив см. на странице 1С:Лектория на сайте информационной системы 1С:ИТС.</li>
      </ul>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Непрерывный рост профессионального уровня бухгалтеров, овладение новыми знаниями и навыками.</li>
        <li>Всегда достоверная финансовая информация, отсутствие ошибок и неточностей в учете.</li>
        <li>Правильно составленная отчетность, корректно начисленные и уплаченные налоги, гарантирующие минимум штрафов и пеней.</li>
        <li>Видеозаписи семинаров доступны постоянно на сайте информационной системы 1С:ИТС, к ним можно обратиться в любое удобное время.</li>
      </ul>
      <b>Условия получения:</b>
      <ul class="checked-list">
        <li>Для пользователей 1С:ИТС уровня ПРОФ приглашения предоставляются бесплатно (до трех человек от одной организации).</li>
      </ul>
    </div>
  </template>
  <template id="st5">
    <div>
      <p>Сервис "Отвечает аудитор" позволяет клиентам получать персональные ответы на вопросы от экспертов, юристов, аудиторов фирмы "1С" по вопросам бухгалтерского, налогового и кадрового учёта.</p>
      <b>Возможности сервиса:</b>
      <p>По электронной почте itsprof@1c.ru или через специальную форму в Личном кабинете на сайте its.1c.ru пользователь может задать вопрос по бухгалтерскому, налоговому и кадровому учёту напрямую экспертам, юристам, аудиторам фирмы "1С".</p>
      <b>Пользователи могут присылать вопросы по следующим темам:</b>
      <ul class="checked-list">
        <li>порядок признания доходов и расходов организации;</li>
        <li>налогообложение и отражение в учете конкретных хозяйственных операций;</li>
        <li>заполнение бухгалтерских (в том числе первичных) документов;</li>
        <li>определение налогооблагаемой базы по налогам и взносам;</li>
        <li>порядок уплаты налогов и взносов;</li>
        <li>заполнение и представление бухгалтерской и налоговой отчетности, а также отчетности по взносам;</li>
        <li>порядок приема на работу, поощрения, применения взысканий и увольнения работников;</li>
        <li>порядок назначения различных выплат персоналу (отпускных, пособий, компенсаций);</li>
        <li>заполнение различных кадровых документов.</li>
      </ul>
      <b>Не предоставляются ответы на вопросы:</b>
      <ul class="checked-list">
        <li>по организации и оптимизации бизнеса;</li>
        <li>по оптимизации налогообложения и выбору организационно-правовой формы и режима налогообложения;</li>
        <li>связанные с оценкой рисков;</li>
        <li>касающиеся правоотношений, которые регулируются иностранным, региональным и местным законодательством;</li>
        <li>по составлению и оценке юридически значимых документов (договоров, актов, претензий, исков, приказов, инструкций и т.п.);</li>
        <li>по оценке хозяйственных операций, проведенных определенным образом;</li>
        <li>касающиеся валютного регулирования;</li>
        <li>сформулированные некорректно (содержание вопроса не позволяет ответить на него корректно);</li>
        <li>касающиеся налогообложения физических лиц.</li>
      </ul>
      <div class="alert alert-info" role="alert">Сервис "Отвечает аудитор" включен в пакеты информационно-технологического сопровождения 1С:ИТС уровня ПРОФ.</div>
    </div>
  </template>
  <template id="st6">
    <div>
      <p>1С-Коннект - самый удобный сервис для связи с поддержкой 1С. Больше не нужно помнить номер телефона, дозваниваться, ждать приезда специалиста. Чаты, звонки, консультации, конференции, удалённый доступ, обмен файлами, оценки качества работы, история обращений - всё в одной простой программе, нужен лишь Интернет.</p>
      <b>Возможности сервиса:</b>
      <ul class="checked-list">
        <li>Сервис может запускаться прямо из 1С</li>
        <li>Работа на любом устройстве (мобильный, планшет, ПК)</li>
        <li>Удобный выбор способа обращения (чат, звонок, видеозвонок)</li>
        <li>Мгновенное соединение с нужным специалистом поддержки</li>
        <li>Единый канал для обращений</li>
        <li>Сохраняется история всех обращений</li>
        <li>Общение с коллегами</li>
      </ul>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Сервис может запускать прямо из программ 1С, настройка использования простая не требует специальных знаний.</li>
        <li>Вам не требуется помнить номер телефона, дозваниваться, ждать пока специалист поддержки приедет к Вам в офис. Специалисты поддержки могут удалённо подключаться к вашему компьютеру через 1С-Коннект без дополнительных программ.</li>
        <li>Надежная защита данных.</li>
        <li>Мобильность – возможность работать с 1С-Коннект из дома, офиса, в командировке.</li>
        <li>Гарантия работы с обращением – даже если специалисты занят, Ваше обращение фиксируется и при первой возможности Вы получите на него ответ.</li>
        <li>Все функции в одной программе - чат, звонки, удаленный доступ, обмен файлами, оценка качества работы, история обращений - все в одной простой программе.</li>
        <li>Возможность использования сервиса пользователям, не использующими в своей работе программы "1С".</li>
      </ul>
      <div class="alert alert-info" role="alert"><b><u>Условия получения:</u></b>
        <ul class="checked-list">
          <li>1С-Коннект доступен пользователям всех версий программ системы 1С:Предприятие.</li>
          <li>1С-Коннект предоставляется бесплатно двум пользователям при заключении договора ИТС ПРОФ.</li>
        </ul>
      </div>
    </div>
  </template>
  <template id="st7">
    <div>
      <p>1С:Облачный архив– это сервис для защиты баз данных пользователей "1С:Предприятие 8" посредством автоматизированного периодического копирования и хранения на удаленных серверах в "облачном" хранилище.</p>.
      <b>Сервис "1С:Облачный архив" поможет Вам:</b>
      <ul class="checked-list">
        <li>защитить базы данных от случайной утери из-за выхода из строя оборудования, программных сбоев, "человеческого фактора".</li>
        <li>не заботиться об отслеживании запущенных процессов, "1С:Облачный архив" самостоятельно проконтролирует выполнение и успешное завершение копирования баз данных в хранилище.</li>
        <li>получать информацию о результатах работы агента резервного копирования при входе в базу "1С:Предприятие".</li>
        <li>1С:Облачный архив + 1С-ЭДО.Сервис 1C:Облачный архив предоставляет возможность пользователям восстанавливать оригиналы электронных документов, необходимых для предоставления по истребованию от контролирующих органов даже в случае потери базы данных 1С на компьютере или сервере.</li>
        <li>Обратите внимание на то, что Облачный Архив работает только с файловыми базами.</li>
      </ul>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Автоматическое копирование и архивирование Ваших баз данных "1С:Предприятие 8" на удаленных серверах с любой периодичностью.</li>
        <li>Сохранность данных в случае непредвиденных ситуаций в офисе (пожар, затопление, утрата компьютера и т.п.).</li>
        <li>Получение доступа к архивным копиям в любое время с любого компьютера или устройства, подключенного к Интернет через личный кабинет на сайте backup.1c.ru</li>
        <li>В случае утраты данных, восстановить копию из облачного хранилища существенно проще и быстрее по сравнению с "ручным" восстановлением, а это экономит время и деньги.</li>
        <li>Снижение затрат на содержание собственной IT-инфраструктуры, сокращаются затраты на обслуживание собственного сервера.</li>
        <li>Работая в фоновом режиме, продукты "1С:Облачный архив" самостоятельно контролируют процесс создания резервной копии и его корректное завершение.</li>
        <li>Можно задавать количество архивных копий для каждой информационной базы. Количество архивных копий информационных баз неограниченно.</li>
        <li>При необходимости можно увеличить дисковое пространство для хранения архивных копий баз данных.</li>
      </ul>
      <div class="alert alert-info" role="alert"><b><u>Условия получения:</u></b><br> Необходимо подключить программу 1С к официальной поддержке.</div>
    </div>
  </template>
  <template id="st8">
    <div>
      <p>"1С:Сверка" - обеспечивает автоматическую сверку счетов-фактур с поставщиками и покупателями в любое удобное для пользователя время – как оперативно в процессе ведения учета, так и перед отправкой декларации по НДС в ФНС.</p>
      <b>Возможности сервиса:</b>
      <ul class="checked-list">
        <li>Запрашивать данные у поставщика об отраженных в книге продаж счетах-фактурах и загружать их в свою учетную систему;</li>
        <li>Автоматически составлять акт сверки взаиморасчетов со своими поставщиками и покупателями в разрезе счетов-фактур;</li>
        <li>Отвечать на поступающие запросы от покупателей по поводу выставленных счетов-фактур и отражения их в учетных регистрах;</li>
        <li>Удобная форма акта сверки взаиморасчетов, которая позволяет оперативно отследить расхождения, принять решения о том, как их устранить и внести соответствующие корректировки в первичный документ.</li>
      </ul>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Оперативная сверка взаиморасчетов с контрагентами в разрезе счетов-фактур, что значительной экономит временные ресурсы сотрудников бухгалтерии при составлении регламентированных форм отчетности при начислении НДС.</li>
        <li>Возможность подготовить акт сверки взаиморасчетов со всеми контрагентами непосредственно перед отправкой данных в контролирующие органы, что снижает риск подачи некорректной информации и получения за это штрафных санкций.</li>
        <li>Удобный интерфейс для пользователя – все операции осуществляются непосредственно в эксплуатируемой информационной системе семейства 1С, что позволяет повысить производительность сотрудников финансово-экономической службы за счет отказа от процедур обмена информацией между приложениями. Кроме того, такая возможность обеспечивает сохранение коммерческой информации компании о ее реализации в тайне от конкурентов и иных лиц.</li>
        <li>Возможность оперативной корректировки первичных документов при наличии расхождений между данными поставщика и покупателя. Причем сделать это можно в удобное для обеих сторон время, чтобы не оставлять рассмотрение сложных ситуаций и принятие по ним решений на период отправки отчетности в контролирующие органы.</li>
      </ul>
      <div class="alert alert-info" role="alert">
        <b><u>Условия получения:</u></b><br/>
        <ul class="checked-list">
          <li>Сервис работает в программах:</li><ul class="checked-list"><li>"1С:Бухгалтерия 8" (ред. 3.0) начиная с релиза 3.0.37;</li><li>"1С:Бухгалтерия государственного учреждения" (ред. 2.0) начиная с релиза 2.0.29;</li></ul>
          <li>Программа должна быть на официальной поддержке</li>
          <li>Для работы сервиса необходим доступ в Интернет.</li>
          <li>В настоящее время сервис "1С:Сверка" предоставляется без дополнительной оплаты.</li>
        </ul>
      </div>
    </div>
  </template>
  <template id="st9">
    <div>
      <p>"1С:ДиректБанк" - работает на технологии "DirectBank", позволяющей отправлять документы в банк и получать из банка непосредственно из программ системы "1С:Предприятия", нажатием одной кнопки в программе "1С". Технология DirectBank позволяет избежать выгрузки документов в промежуточные файлы, установки и запуска дополнительных программ (модулей) "Клиент Банка".</p>
      <b>Возможности сервиса:</b>
      <ul class="checked-list">
        <li>Автоматическое получение из банка настроек обмена и тестовый обмен данными с банком при подключении к сервису;</li>
        <li>Отправка рублевых платежных документов в банк с электронной подписью клиента или без нее (зависит от банка);</li>
        <li>Отслеживание этапов прохождения платежа, запрос статусов по ранее отправленных платежным документам в банк;</li>
        <li>Запрос на отзыв ранее переданного документа в банк;</li>
        <li>Получение рублевой выписки банка прямо в программу "1С" с электронной подписью банка или без нее (зависит от банка).</li>
      </ul>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Вы управляете расчетными счетами непосредственно из "1С:Предприятия 8", вся работа выполняется "в одном окне";</li>
        <li>Работа со всеми счетами, открытыми в разных банках, выполняется в едином пользовательском интерфейсе, по одинаковым сценариям;</li>
        <li>Нет необходимости устанавливать дополнительные программы "Клиент Банка";</li>
        <li>Повышается уровень безопасности – подписание электронных документов проводится прямо в "1С:Предприятии 8" (для варианта с использованием электронной подписи на стороне "1С").</li>
        <li>Повышенная скорость обмена информацией с банком – отправка платежного документа или получение выписки по одному клику.</li>
      </ul>
      <div class="alert alert-info" role="alert">
        <b><u>Условия получения:</u></b><br/>
        <ul class="checked-list">
        <li>Сервис работает в программах:<ul class="checked-list"><li>"1С:Бухгалтерия 8" (ред. 3.0)</li><li>"1С:Управление торговлей" (ред. 11)</li></ul></li>
        <li>Программа должна быть на официальной поддержке</li>
        <li>Для работы сервиса необходим доступ в Интернет.</li>
        <li>В настоящее время сервис "1С:ДиректБанк" предоставляется без дополнительной оплаты</li>
        </ul>
      </div>
    </div>
  </template>
  <template id="st10">
    <div>
      <p>1С:Подпись - удобный способ получить квалифицированный сертификат электронной подписи для обмена юридически значимыми электронными документами прямо в программе "1С".</p>
      <b>Возможности сервиса:</b>
      <p>Благодаря сервису 1С:Подпись Вы сможете обмениваться заверенными документами с поставщиками, покупателями и другими контрагентами прямо в 1С.</p>
      <b>Преимущества сервиса:</b>
      <ul class="checked-list">
        <li>Подготовка заявления на выпуск квалифицированного сертификата и получение его на рабочем месте в интерфейсе программных продуктов "1С:Предприятия 8".</li>
        <li>Исключен несанкционированный доступ к ключу электронной подписи, т.к. он создается на компьютере пользователя.</li>
        <li>Идентификацию пользователя, прием, проверку и отправку комплекта заявительных документов в удостоверяющий центр "1С" осуществляет партнер фирмы "1С".</li>
        <li>Подготовка заявления и его отправка организованы в удобном Мастере, который позволяет подготовить заявление в удобной пошаговой форме с подробным описанием каждого действия.</li>
      </ul>
      <div class="alert alert-info" role="alert">
        <b>Условия получения:</b>
        <ul class="checked-list">
          <li>являться зарегистрированным пользователем программ 1С;</li>
          <li>зарегистрировать программу в "Личном кабинете" портала ИТС;</li>
          <li>пользователям с действующим договором 1С:ИТС уровня ПРОФ предоставляется без дополнительной оплаты;</li>
          <li>включен в пакет сервисов "СтартЭДО".</li>
        </ul>
      </div>
    </div>
  </template>
  <template id="st11">
    <div>
      <p>"1СПАРК Риски" дает пользователям программ 1С возможность управлять налоговыми рисками и комплексно оценивать благонадежность контрагентов. Сервис предназначен для руководителей предприятий и лиц, принимающих бизнес-решения, бухгалтеров, менеджеров подразделений материального снабжения, менеджеров по продажам, специалистов финансовых служб и др.</p>
      <b>Возможности сервиса оценка контрагентов на основе индексов системы СПАРК:</b>
      <ul class="checked-list">
        <li>Индекс должной осмотрительности (ИДО)</li>
        <p>Оценка, показывающая вероятность того, что компания является технической, фирмой-однодневкой, брошенным активом. Если показатель в красной зоне, рекомендуется более детально проверить контрагента, если индикатор зеленый – компания имеет все признаки благонадежности.</p>
        <p>ИДО учитывает более 40 различных факторов: от признаков "однодневности" до активности в Интернете, участия в госзакупках, наличия патентов, лицензий, судебных споров, задолженности по налогам, залогов и т.д. Модель ИДО прошла многолетнюю апробацию, завоевала доверие у тысяч пользователей системы СПАРК.</p>
        <li>Индекс финансового риска (ИФР)</li>
        <p>Анализирует финансовое состояние компании с точки зрения возможного банкротства. ИФР классифицирует юридические лица по трем уровням риска, учитывая 11 коэффициентов, базирующихся на финансовой отчетности компании.</p>
        <p>Если ИФР находится в красной зоне, рекомендуется проявлять осторожность при предоставлении товаров и услуг на условиях отсрочки платежа. Отсутствие ИФР говорит о том, что компания не сдает финансовую отчетность в органы статистики.</p>
        <li>Индекс платежной дисциплины (ИПД)</li>
        <p>Показывает средний фактический срок исполнения компанией финансовых обязательств по различным контрактам. Данные о платежах по счетам поступают в СПАРК на добровольной основе от крупных энергоснабжающих, коммунальных, телекоммуникационных, торговых и иных предприятий. ИПД рассчитывается примерно для 100 000 юридических лиц.</p>
        <li>Мониторинг контрагентов</li>
        <p>Это система оповещения о важных изменениях в жизни контрагента — ликвидация, реорганизация, смена руководителя, адреса, учредителей и т.п. События мониторинга можно просматривать непосредственно в программах 1С и в личном кабинете на портале 1С:ИТС.</p>
        <li>Получение заверенной справки с подробной информацией о контрагенте</li>
        <p>Бизнес-справку о компании можно предъявлять в контролирующих органах или в суде как доказательство проявления должной осмотрительности при работе с контрагентом. Справка является юридически значимой, заверена электронной подписью агентства "Интерфакс".</p>
      </ul>
      <b>Преимущества сервиса:</b><br>
      <p>"1СПАРК Риски" встроен в программы 1С и предоставляет пользователям информацию для принятия обоснованных решений.</p>
      <div class="alert alert-info" role="alert">
        <b><u>Условия получения:</u></b>
        <ul class="checked-list">
          <li>Быть зарегистрированным пользователем программ 1С;</li>
          <li>Купить лицензию "1СПАРК Риски" или "1СПАРК Риски +"</li>
        </ul>
      </div>
    </div>
  </template>
  <template id="st12">
    <div>
      <p>Мобильное взаимодействие сотрудников и бухгалтерии по кадровым вопросам</p>
      <b>Преимущества использования:</b>
      <ul class="checked-list">
        <li>Выполнение требований ст. 136 ТК РФ об обязательной выдаче расчетных листков</li>
        <p>"1С:Кабинет сотрудника" – простой способ передать сотрудникам расчетные листки в электронном виде. Сотрудник ознакомится с документом в личном кабинете через веб-браузер или в специальном приложении на своем мобильном телефоне (iOS или Android).</p>
        <li>Ускорение кадрового документооборота</li>
        <p>Через "1С:Кабинет сотрудника" напрямую с телефона или через веб-браузер сотрудники могут отправить заявление на отпуск или уведомление об отсутствии. Предусмотрена возможность согласования с руководителем, после чего документы попадут в программу 1С, то есть без необходимости согласования в бумажном виде, по электронной почте или по телефону.</p>
        <li>Экономия времени при взаимодействии сотрудников и бухгалтерии</li>
        <p>При использовании "1С:Кабинет сотрудника" сокращается время, которое сотрудники и бухгалтерия тратят на предоставление расчетных листков, согласование отпусков, получение справок и других документов. Сотрудникам не нужно ходить в бухгалтерию, а бухгалтерии отвлекаться от своих дел.</p>
        <li>Улучшение условий труда</li>
        <p>Сотрудники оценят удобство "1С:Кабинет сотрудника": в любой момент времени и в любом месте, где есть интернет, они смогут посмотреть сведения о зарплате, количество оставшихся дней отпуска, заказать справку 2-НДФЛ и т.п.</p>
      </ul>
      <b>Возможности использования:</b>
      <b>Как устроен "1С:Кабинет сотрудника"?</b>
      <p>"1С:Кабинет сотрудника" получает необходимые данные (расчетные листки, справки, другую информацию) из приложений 1С (например, "1С:Зарплата и управление персоналом") и обеспечивает возможность просмотра этих данных для сотрудников через веб-браузер на компьютере или посредством специального приложения для мобильных устройств (iOS ил Android). При этом любая передача данных возможна только по разрешению ответственного сотрудника (бухгалтер, кадровик или менеджер). Доступ к данным осуществляется по личному паролю сотрудника. Работа "1С:Кабинет сотрудника" не зависит от загруженности программы 1С и не создает дополнительной нагрузки на нее, не требует дополнительных клиентских лицензий "1С:Предприятие".</p>
      <b>Для бухгалтеров и кадровиков</b>
      <ul class="checked-list">
        <li>передача сотрудникам расчетных листков;</li>
        <li>получение от сотрудников заявлений на отпуск, командировку, уведомлений об отсутствии;</li>
        <li>передача 2-НДФЛ и других справок.</li>
      </ul>
      <b>Для сотрудников</b>
      <ul class="checked-list">
        <li>получение расчетных листков о выданной заработной плате;</li>
        <li>упрощенная схема оформления заявлений на отпуск и контроль остатка отпускных дней;</li>
        <li>передача в бухгалтерию заявлений на отпуск, командировку, уведомлений об отсутствии;</li>
        <li>получение 2-НДФЛ и других справок;</li>
        <li>информирование отдела кадров об изменении данных, о новых документах, семейном положении и т.п.</li>
      </ul>
      <div class="alert alert-info" role="alert">
        <b><u>Условия использования:</u></b>
        <p>Работает в программах:</p>
        <ul class="checked-list">
          <li>"1С:Зарплата и управление персоналом 8" (ПРОФ, КОРП) с версии 3.1.14.166, базовая с версии 3.1.14.305</li>
          <li>"1C:Зарплата и кадры государственного учреждения 8" (ПРОФ, КОРП) с версии 3.1.14.166, базовая с версии 3.1.14.305</li>
          <li>В сервисе "1С:Фреш"</li>
        </ul>
      </div>
    </div>
  </template>
  <!-------------------------------------------------->
  <div class="px-2 py-2 my-5 text-center">
    <div class="col-lg-8 mx-auto">
      <div class="row">
        <div class="col"><H1>Наши услуги</H1></div>
      </div>
      <div class="row row-cols-3 gy-3 align-items-center">
        <div class="col align-self-center">
          <div class="card" style="width: 18rem;">
            <a href="#p1" data-number="0"><img data-number="0" height="150" width="150" src="{% static 'img/services/hour.svg' %}" class="card-img-top" alt="1С: Бухгалтерия"></a>
            <div class="card-body">
              <a href="#p1" data-number="0">Почасовое сопровождение</a>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="width: 18rem;">
            <a href="#p1" data-number="1"><img data-number="1" height="150" width="150" src="{% static 'img/services/update.svg' %}" class="card-img-top" alt="1С: Бухгалтерия"></a>
            <div class="card-body">
              <a href="#p1" data-number="1">Обновление 1С</a>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="width: 18rem;">
            <a href="#p1" data-number="2"><img data-number="2" height="150" width="150" src="{% static 'img/services/abon.svg' %}" class="card-img-top" alt="Абонентское сопровождение"></a>
            <div class="card-body">
              <a href="#p1" data-number="2">Абонентское сопровождение</a>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="width: 18rem;">
            <a href="#p1" data-number="3"><img data-number="3" height="150" width="150" src="{% static 'img/services/study.svg' %}" class="card-img-top" alt="Обучение 1С"></a>
            <div class="card-body">
              <a href="#p1" data-number="3">Обучение 1С</a>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="width: 18rem;">
            <a href="#p1" data-number="4"><img data-number="4" height="150" width="150" src="{% static 'img/services/its.svg' %}" class="card-img-top" alt="Сопровождение 1С:КП (1С:ИТС)"></a>
            <div class="card-body">
              <a href="#p1" data-number="4">Сопровождение 1С:КП (1С:ИТС)</a>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="width: 18rem;">
            <a href="#p1" data-number="5"><img data-number="5" height="150" width="150" src="{% static 'img/services/globe.png' %}" class="card-img-top w-75" alt="1С: ФРЕШ"></a>
            <div class="card-body">
              <a href="#p1" data-number="5">1С: ФРЕШ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-2 py-2 my-5 text-center">
    <div class="col-lg-12 mx-auto">
      <div class="row">
        <div class="col"><H1>Сервисы 1С</H1></div>
      </div>
      <div class="row row-cols-3 gy-3 align-items-center">
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="0"><img data-number="0" height="100" width="100"  src="{% static 'img/services/сounteragent.png' %}" class="card-img-top" alt="1С:Контрагент"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="0">1С:Контрагент</a></p>
                  <p class="card-text text-start">Быстрая проверка информации о контрагентах</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="1"><img data-number="1" height="100" width="100" src="{% static 'img/services/reporting.png' %}" class="card-img-top" alt="1С: Отчетность"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="1">1С: Отчетность</a></p>
                  <p class="card-text text-start">"1С-Отчетность" Подготовка и сдача отчетности во все госорганы, а также обмен документами прямо из 1С.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="2"><img data-number="2" height="100" width="100" src="{% static 'img/services/edo.png' %}" class="card-img-top" alt="1С: ЭДО"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="2">1С: ЭДО</a></p>
                  <p class="card-text text-start">Обмен электронными документами с контрагентами</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="3"><img data-number="3" height="100" width="100" src="{% static 'img/services/lecture.png' %}" class="card-img-top" alt="1С:Лекторий"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="3">1С:Лекторий</a></p>
                  <p class="card-text text-start">Регулярные семинары по законодательству и его отражению в программах "1С"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="4"><img data-number="4" height="100" width="100" src="{% static 'img/services/auditor.png' %}" class="card-img-top" alt="Отвечает аудитор"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="4">Отвечает аудитор</a></p>
                  <p class="card-text text-start">Персональные письменные консультации от экспертов, аудиторов и методистов "1С".</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="5"><img data-number="5" height="100" width="100" src="{% static 'img/services/connect.png' %}" class="card-img-top" alt="1С: Коннект"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="5">1С: Коннект</a></p>
                  <p class="card-text text-start">Обращения за поддержкой в один клик</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="6"><img data-number="6" height="100" width="100" src="{% static 'img/services/сloud-backup.png' %}" class="card-img-top" alt="1С:Облачный архив"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="6">1С:Облачный архив</a></p>
                  <p class="card-text text-start">Резервное копирование информационных баз в облачное хранилище данных "1С".</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="7"><img data-number="7" height="100" width="100" src="{% static 'img/services/сheck.png' %}" class="card-img-top" alt="1С: Сверка"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="7">1С: Сверка</a></p>
                  <p class="card-text text-start">Автоматическая сверка счетов-фактур с контрагентами непосредственно в программе 1С</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="8"><img data-number="8" height="100" width="100" src="{% static 'img/services/direct-bank.png' %}" class="card-img-top" alt="1С: Директ банк"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="8">1С: Директ банк</a></p>
                  <p class="card-text text-start">Обмен документами между программой 1С и банком</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="9"><img data-number="9" height="100" width="100" src="{% static 'img/services/sign.png' %}" class="card-img-top" alt="1С: Подпись"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="9">1С: Подпись</a></p>
                  <p class="card-text text-start">Электронная подпись для обмена юридически значимыми электронными документами</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="10"><img data-number="10" height="100" width="100" src="{% static 'img/services/spark-risks.png' %}" class="card-img-top" alt="1СПАРК Риски"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="10">1СПАРК Риски</a></p>
                  <p class="card-text text-start">Оценка надежности и мониторинг контрагентов в программах 1С</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card" style="max-width:540px;">
            <div class="row g-0 align-items-center">
              <div class="col-sm-3 align-self-center" style="background-color:rgb(73,166,209);">
                <a href="#s1" data-number="11"><img data-number="11" height="100" width="100" src="{% static 'img/services/cabin.png' %}" class="card-img-top" alt="1С: Кабинет"></a>
              </div>
              <div class="col-sm-9">
                <div class="card-body">
                  <p class="card-title text-start"><a href="#s1" data-number="11">1С: Кабинет</a></p>
                  <p class="card-text text-start">Мобильное взаимодействие сотрудников и бухгалтерии по кадровым вопросам</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
var headers = ["Почасовое сопровождение", "Обновление 1С", "Абонентское сопровождение", "Обучение 1С", "Сопровождение 1С:КП (1С:ИТС)", "1С: ФРЕШ"];
var templates = [document.getElementById('s1'), document.getElementById('s2'), document.getElementById('s3'), document.getElementById('s4'), document.getElementById('s5'), document.getElementById('s6')];
var source = document.getElementById('DescriptionModal');
var body = source.querySelector('.modal-body');

document.querySelectorAll('a[href^="#p"]').forEach(element=>{
  element.addEventListener('click', event => {
    event.preventDefault();
    var sender = event.target;
    console.log('clicked');
    var oldChild = body.querySelector('div');
    var copy = document.importNode(templates[sender.dataset.number].content, true);
    body.replaceChild(copy, oldChild);
    document.getElementById('ProductDescription').textContent = headers[sender.dataset.number];
    var myModal = new bootstrap.Modal(source, {
      keyboard: false
    });
    myModal.show();
  });
})

service_templates = {"1С:Контрагент": document.getElementById('st1'), "1С: Отчетность": document.getElementById('st2'), "1С: ЭДО": document.getElementById('st3'), "1С:Лекторий": document.getElementById('st4'), "Отвечает аудитор": document.getElementById('st5'), "1С: Коннект": document.getElementById('st6'), "1С:Облачный архив": document.getElementById('st7'), "1С: Сверка": document.getElementById('st8'), "1С: Директ банк": document.getElementById('st9'), "1С: Подпись": document.getElementById('st10'), "1СПАРК Риски": document.getElementById('st11'), "1С: Кабинет": document.getElementById('st12')};

document.querySelectorAll('a[href^="#s"]').forEach(element=>{
  element.addEventListener('click', event => {
    event.preventDefault();
    var sender = event.target;
    var name = sender.tagName=="IMG"?sender.alt:sender.textContent;
    console.log('clicked');
    console.log(sender.tagName);
    var oldChild = body.querySelector('div');
    var copy = document.importNode(service_templates[name].content, true);
    body.replaceChild(copy, oldChild);
    document.getElementById('ProductDescription').textContent = name
    var myModal = new bootstrap.Modal(source, {
      keyboard: false
    });
    myModal.show();
  });
})
{% endblock %}